<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332220604132-iokdntjcsstjj3hgjk2onks4enhrpbqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332220604132-iokdntjcsstjj3hgjk2onks4enhrpbqe</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzM8VVXXSHcTa_O94wzfrfYLw48Ek5xc</string>
	<key>GCM_SENDER_ID</key>
	<string>332220604132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a1.app-MVVM</string>
	<key>PROJECT_ID</key>
	<string>primeiroappmvvm-7b1b6</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiroappmvvm-7b1b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332220604132:ios:9e3639d45f99f7ec4956f1</string>
</dict>
</plist>